.card{
  background-color: #1c1c1c;
  width: 400px;
  padding: 20px;
  border: 3px solid blueviolet;
  border-radius: 15px;
  margin-top: 15px;
  color: blueviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.avatar{
  background-color: blueviolet; 
  height: 50px; 
  width: 50px; 
  border-radius: 25px;
}
.name{
  margin-top: 21.4px; 
  margin-bottom: 0px;
}
.whiteText{
  color: white;
}
.message{
  margin-top: 0px; 
  margin-bottom: 0px;
}